
/** blog-details-content **/

.blog-details-content{
  position: relative;
}

.news-block-one .inner-box blockquote{
  position: relative;
  display: block;
  border-radius: 5px;
  padding: 53px 55px 40px 55px;
  margin: 0px;
  margin-bottom: 45px;
  text-align: center;
  margin-top: 45px;
}

.news-block-one .inner-box blockquote .quote-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.news-block-one .inner-box blockquote h5{
  display: block;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 32px;
}

.news-block-one .inner-box blockquote .name{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 28px;
  font-family: var(--title-font);
  color: #fff;
  font-weight: 700;
  padding-left: 25px;
}

.news-block-one .inner-box blockquote .name:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 19px;
  height: 3px;
  left: 0px;
  top: 11px;
  border-radius: 5px;
}

.news-block-one .inner-box .three-column{
  position: relative;
  display: block;
  margin: 0px 7.5px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 40px;
}

.news-block-one .inner-box .three-column .image-column{
  padding: 0px 7.5px;
}

.news-block-one .inner-box .three-column .image{
  position: relative;
  display: block;
  border-radius: 5px;
  margin-bottom: 30px;
}

.news-block-one .inner-box .three-column .image img{
  width: 100%;
  border-radius: 5px;
}

.blog-details-content .post-share-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-details-content .post-share-option .tags-list{
  position: relative;
  display: flex;
  align-items: center;
}

.blog-details-content .post-share-option .tags-list li{
  margin-right: 10px;
}

.blog-details-content .post-share-option .tags-list li:last-child{
  margin: 0px !important;
}

.blog-details-content .post-share-option .tags-list li a{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
  padding: 8px 15px;
  border-radius: 5px;
  background: rgba(20, 26, 88, 0.05);
}

.blog-details-content .post-share-option .tags-list li a:hover{
  color: #fff;
}

.blog-details-content .post-share-option .social-links{
  position: relative;
  display: flex;
  align-items: center;
}

.blog-details-content .post-share-option .social-links li{
  margin-right: 10px;
}

.blog-details-content .post-share-option .social-links li:last-child{
  margin: 0px !important;
}

.blog-details-content .post-share-option .social-links li a{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background: rgba(20, 26, 88, 0.05);
  font-size: 18px;
  color: var(--title-color);
}

.blog-details-content .post-share-option .social-links li a:hover{
  color: #fff;
}

.group-title{
  position: relative;
  display: block;
}

.group-title h3{
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
}

.blog-details-content .comment-box .comment{
  position: relative;
  display: block;
  padding: 0px 0px 40px 110px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D9D9D9;
  min-height: 188px;
}

.blog-details-content .comment-box .comment:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}

.blog-details-content .comment-box .comment .thumb-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background: #EBEBEB;
  padding: 10px;
  border-radius: 50%;
}

.blog-details-content .comment-box .comment .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.blog-details-content .comment-box .comment h5{
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.blog-details-content .comment-box .comment p{
  display: block;
  margin-bottom: 20px;
}

.blog-details-content .comment-box .comment .date{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 18px;
}

.blog-details-content .comment-box .comment .date i{
  position: absolute;
  left: 0px;
  top: 1px;
  font-size: 12px;
}

.blog-details-content .comment-box .comment .reply-btn{
  position: absolute;
  right: 0px;
  bottom: 45px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.blog-details-content .comment-box .comment .reply-btn:hover{

}

.blog-details-content .comment-form .form-inner{
  position: relative;
  margin: 0px 5px;
}

.blog-details-content .comment-form .form-inner .form-group{
  position: relative;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.blog-details-content .comment-form .form-inner .form-group:last-child{
  margin-bottom: 0px;
}

.blog-details-content .comment-form .form-inner .form-group input[type='text'],
.blog-details-content .comment-form .form-inner .form-group input[type='email'],
.blog-details-content .comment-form .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(20, 36, 88, 0.05);
  border: 1px solid transparent;
  font-size: 16px;
  color: #575757;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 500ms ease;
}

.blog-details-content .comment-form .form-inner .form-group textarea{
  height: 150px;
  resize: none;
  padding-top: 15px;
  margin-bottom: 15px;
}

.blog-details-content .comment-form .form-inner .form-group input:focus,
.blog-details-content .comment-form .form-inner .form-group textarea:focus{

}



/** rtl-css **/

.rtl .blog-details-content .post-share-option .social-links li,
.rtl .blog-details-content .post-share-option .tags-list li{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .default-sidebar .post-widget .post{
  padding-left: 0px;
  padding-right: 100px;
}

.rtl .default-sidebar .post-widget .post .post-thumb{
  left: inherit;
  right: 0px;
}

.rtl .blog-details-content .comment-box .comment{
  padding-left: 0px;
  padding-right: 110px;
}

.rtl .blog-details-content .comment-box .comment .thumb-box{
  left: inherit;
  right: 0px;
}

.rtl .blog-details-content .comment-box .comment .reply-btn{
  right: inherit;
  left: 0px;
}

.rtl .default-sidebar .tags-widget .tags-list li{
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .blog-details-content{
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 599px){
  .news-block-one .inner-box blockquote{
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-details-content .post-share-option{
    position: relative;
    display: block;
  }

  .blog-details-content .post-share-option .tags-list{
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 499px){
  .default-sidebar .post-widget .post{
    padding-left: 0px;
  }

  .default-sidebar .post-widget .post .post-thumb{
    position: relative;
    margin-bottom: 20px;
  }

  .rtl .default-sidebar .post-widget .post{
    padding-right: 0px;
  }
}









































