
.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .switcher{
  right: 60px;
  left: inherit;
}

.rtl .switcher .switch_menu{
  left: inherit;
  right: 0px;
}

.rtl .owl-carousel{
  direction: ltr;
}

.rtl .scroll-to-top .scroll-bar{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .main-menu .navigation > li{
  float: right;
}

.rtl .main-menu .navigation > li:first-child{
  margin-left: 15px !important;
  margin-right: 0px;
}

.rtl .main-menu .navigation > li:last-child{
  margin-right: 15px !important;
  margin-left: 0px;
}

.rtl .main-menu .navigation > li > ul > li > a, 
.rtl .main-menu .navigation > li > .megamenu li > a{
  text-align: right;
}

.rtl .main-menu .navigation li.dropdown .megamenu li h4{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
  right: inherit;
  left: 20px;
  content: "\f104";
}

.rtl .mobile-menu{
  text-align: right;
}

.rtl .mobile-menu .nav-logo{
  text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  transform: rotate(-90deg);
}

.rtl .scroll-to-top{
  right: inherit;
  left: 0px;
}

.rtl .main-header .menu-right-content .support-box{
  margin-right: 0px;
  margin-left: 45px;
}

.rtl .xs-sidebar-group .widget-heading{
  right: inherit;
  left: 35px;
}

.rtl .xs-sidebar-group .content-inner .info-box .info li{
  padding-left: 0px;
  padding-right: 47px;
}

.rtl .xs-sidebar-group .content-inner .info-box .info li .icon{
  left: inherit;
  right: 0px;
}

.rtl .nice-select .option{
  text-align: right;
}

.rtl .nice-select{
  text-align: right !important;
}

.rtl .nice-select:before{
  right: inherit;
  left: 25px;
}

.rtl .list-style-one li{
  padding-left: 0px;
  padding-right: 24px;
}

.rtl .list-style-one li:before{
  left: inherit;
  right: 0px;
}

.rtl .footer-bottom .bottom-inner .social-links li{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .main-footer .widget-title:before{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .schedule-widget .schedule-list li .day{
  margin-right: 0px;
  margin-left: 28px;
}

.rtl .main-footer .schedule-widget .schedule-list li .time{
  margin-left: 0px;
  margin-right: 20px;
}

.rtl .main-footer .logo-widget .info-list li{
  padding-left: 0px;
  padding-right: 33px;
}

.rtl .main-footer .logo-widget .info-list li i{
  left: inherit;
  right: 0px;
}

.rtl .header-style-two .menu-right-content .support-box{
  padding-left: 0px;
  padding-right: 70px;
}

.rtl .header-style-two .menu-right-content .support-box .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .header-top .top-inner .info-list li{
  margin-right: 0px;
  margin-left: 40px;
}






























