
/** banner-section **/

.banner-section{
  position: relative;
  overflow: hidden;
  padding: 0px 130px;
}
  
.banner-carousel .slide-item{
  position: relative;
  padding: 141px 0px 214px 0px;
  border-radius: 0px 10px 10px 10px;
  overflow: hidden;
}

.banner-carousel .slide-item:before{
  position: absolute;
  content: '';
  background: linear-gradient(90deg, #2C7B7D, #50AEB11A);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}
  
.banner-carousel .content-box{
  position: relative;
  display: block;
  z-index: 5;
  max-width: 650px;
}
  
.banner-carousel .slide-item .bg-layer{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 8000ms linear;
  -moz-transition: all 8000ms linear;
  -ms-transition: all 8000ms linear;
  -o-transition: all 8000ms linear;
  transition: all 8000ms linear;
}
  
.banner-carousel .active .slide-item .bg-layer{
  -webkit-transform:scale(1.25);
  -ms-transform:scale(1.25);
  transform:scale(1.25);
}
  
.banner-carousel .content-box h2{
  font-size: 55px;
  line-height: 70px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 21px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box h2{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
  
.banner-carousel .content-box p{
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 50px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box p{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
  
.banner-carousel .content-box .btn-box{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner-section .social-links{
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-section .social-links li{
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.banner-section .social-links li:last-child{
  margin-bottom: 0px !important;
}

.banner-section .social-links li a{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background: #E7E7E7;
  color: #575757;
  text-align: center;
  border-radius: 50%;
}

.banner-section .social-links li a:hover{
  color: #fff;
}


/** banner-style-two **/

.banner-style-two{
  background: #142458;
}

.banner-style-two .outer-container{
  position: relative;
  max-width: 1550px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.banner-style-two .content-box{
  position: relative;
  display: block;
  max-width: 600px;
}

.banner-style-two .content-box h2{
  display: block;
  font-size: 55px;
  line-height: 70px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-style-two .content-box p{
  display: block;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 45px;
  max-width: 550px;
}

.banner-style-two .image-box{
  position: relative;
  display: block;
  padding-left: 237px;
  margin-left: -42px;
  margin-bottom: -90px;
}

.banner-style-two .image-box .image-2{
  position: absolute;
  left: 0px;
  bottom: 52px;
  border: 7px solid #fff;
  border-radius: 5px 5px 40px 5px;
}

.banner-style-two .image-box .image-2 img{
  width: 100%;
  border-radius: 0px 0px 30px 0px;
}

.banner-style-two .image-box .image-1{
  position: relative;
  display: block;
  border-radius: 5px 5px 40px 5px;
}

.banner-style-two .image-box .image-1 img{
  border-radius: 5px 5px 40px 5px;
  width: 100%;
}

.banner-style-two .image-box .curve-text{
  position: absolute;
  left: -60px;
  top: 98px;
  display: inline-block;
  width: 128px;
  height: 128px;
  line-height: 128px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}

.banner-style-two .image-box .curve-text:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 63px;
  bottom: 10px;
  z-index: 1;
}

.banner-style-two .image-box .curve-text .shape{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-two .image-box .curve-text .curved-circle{
  position: absolute;
  left: 65px;
  top: 3px;
  font-size: 13.6px;
  line-height: 20px;
  font-family: var(--title-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner-style-two .image-box .curve-text .border-line{
  position: absolute;
  left: -8px;
  top: -8px;
  width: 144px;
  height: 144px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.banner-style-two .image-box .curve-text .border-line:before{
  position: absolute;
  content: '';
  border: 2px solid #fff;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  left: 39px;
  top: 39px;
  z-index: 1;
}

.banner-style-two .pattern-layer {
  position: absolute;
  left: 0px;
  top: -140px;
  width: 684px;
  height: 719px;
  background-repeat: no-repeat;
}




/** rtl-css **/

.rtl .banner-carousel .content-box{
  text-align: right;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){
  .banner-section{
    padding: 0px;
  }

  .banner-section .social-links{
    display: none;
  }
}

@media only screen and (max-width: 991px){
  .banner-style-two .content-box{
    max-width: 100%;
    margin-bottom: 30px;
  }

  .banner-style-two .content-box p{
    max-width: 100%;
  }

  .banner-style-two .image-box{
    margin: 0px;
  }

  .banner-style-two .image-box .curve-text{
    left: 7px;
  }

  .banner-style-two{
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 767px){
  .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-carousel .slide-item{
    padding: 100px 0px 170px 0px;
  }

  .banner-style-two .image-box{
    padding: 0px;
  }

  .banner-style-two .image-box .image-2{
    position: relative;
    bottom: 0px;
    margin-top: 30px;
  }

  .banner-style-two .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  
}









































